<div class="container">
  <% major_category_names.each do |major_category_name| %>
    <h2><%= major_category_name %></h2>
    <% categories.each do |category| %>
      <% if category.major_category_name == major_category_name %>
        <label class="samazon-sidebar-category-label">
          <%# リンク先のURLにハッシュ（キーと値の組み合わせ）で引数を渡すことで、コントローラ側へその値を渡すことができます。 %>
          <%= link_to category.name, products_path(category: category.id) %>
        </label>
      <% end %>
    <% end %>
  <% end %>
</div>